ivoatexmeta.tex
vtp.aux
vtp.bbl
vtp.blg
vtp.log
vtp.out
vtp.pdf
vtp.toc
debug.html
figures/authortobroker.png
figures/brokerfromauthor.png
figures/brokertosub.png
figures/network.png
figures/subfrombroker.png
vtp.html
